p{
    color: black
}

h1{
    color: white
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}